---
import Image from 'astro/components/Image.astro';
import Sample from '@/assets/images/sample.jpg';
interface Props {
  class?: string;
  type: 'wide' | 'portrait';
}

const { class: className, type = 'wide', ...props } = Astro.props;
---

<div class={`card ${className}`} {...props}>
  <div class="card__thumbnail">
    <span class="card__tag card__tag--absolue">01. ROBOTIC CORE</span>
    <Image src={Sample} class="card__image" alt="card-image" height="500" />
  </div>
  <div class="card__desc">
    <h3
      class={`card__title ${type === 'wide' ? 'card__title--wide' : 'card__title--portrait'}`}
    >
      NEURO INTEFACE
    </h3>
    <p
      class={`card__summary ${type === 'wide' ? 'card__summary--wide' : 'card__summary--portrait'}`}
    >
      Developing low-latency neutral interface for next-generation automated
      surgical procedure.
    </p>
    <div
      class={`card__tags ${type === 'wide' ? 'card__tags--wide' : 'card__tags--portrait'}`}
    >
      <span class="card__tag">RUST</span>
      <span class="card__tag">WASP</span>
      <span class="card__tag">LLM</span>
      <span class="card__tag">NODE.JS</span>
    </div>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
  }

  .card__thumbnail {
    position: relative;
  }

  .card__tag {
    background-color: var(--neutral-50);
    padding: var(--space-sm) var(--space-lg);
    font-size: var(--text-sm);
    color: var(--neutral-700);
  }

  .card__tag--absolue {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10px, 10px);
  }

  .card__image {
    width: 100%;
    height: 100;
    object-fit: cover;
  }

  .card__title {
    color: var(--tertiary-900);
    font-size: var(--text-2xl);
    font-weight: 700;
  }

  .card__desc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-sm);
  }

  .card__title--wide {
    grid-column: 1 / 3;
  }

  .card__summary--wide {
    grid-column: 3 / 5;
  }

  .card__tags--wide {
    grid-column: 1 / 5;
  }

  .card__title--portrait,
  .card__summary--portrait,
  .card__tags--portrait {
    grid-column: 1 / 5;
  }
</style>
